$main-bg-color: white
$actual-user-bg-color: #94bcff
$other-user-bg-color: white
$font-color: #393b42
$chatbox-bg: #e8e3e3
$navbar-color: #183a1d
$navbar-font-color: #fefbe9
$chat-name-hover: #e2f0bd

.app
  font-family: Verdana, sans-serif
  color: $font-color
  background-color: $main-bg-color
