@import '../../App.sass'

#login-page
  background-color: $main-bg-color
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

.login-form
  border: 1px solid #9e770d
  border-radius: 10px
  padding: 30px 60px
  background-color: #b08717

.login-input
  padding: 8px 14px
  margin: 10px
