@import '../../App.sass'

@mixin message-style
  display: flex
  flex-flow: column
  padding: 5px
  margin: 2px
  border-radius: 10px

.tooltip
  display: none
  position: absolute
  z-index: 2
  border: 1px solid grey
  background-color: white
  border-radius: 10%
  font-size: 8px

.tootlip-actual-user
  left: -50px

.tooltip-other-user
  left: 0px

.actual-user-message
  @include message-style
  background-color: $actual-user-bg-color

.other-user-message
  @include message-style
  background-color: $other-user-bg-color

.send-date
  font-size: 7px
  color: #2e2e2e

#avatar:hover
  position: relative
  .tooltip
    display: block
